<header class="bg-white h-14 flex items-center justify-between px-3 shadow-sm z-10">
    <div class="flex items-center gap-4">
        @if(isSidebarOpen){
        <button class="p-2 rounded-lg text-purple-500 hover:bg-white/10 hover:text-white md:hidden"
            (click)="toggleSidebar()" aria-label="Open sidebar">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                </path>
            </svg>
        </button>
        }
        <h1 class="text-xl font-semibold text-gray-800 hidden md:block">
            {{ pageTitle }}
        </h1>
    </div>

    <div class="flex items-center gap-3">
        <!-- Notification Bell -->
        <!-- <button class="relative p-2 text-purple-200 hover:bg-white/10 rounded-full transition-colors">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.135 6 7.838 6 10v3m9 0c0 1.105-.896 2-2 2h-4.364a1 1 0 01-1-1V8c0-2.256 2.744-4.146 6.364-4.146h4.364a1 1 0 011 1v3">
                </path>
            </svg>
            <span class="absolute top-1 right-1 w-2 h-2 bg-yellow-400 rounded-full border border-purple-900"></span>
        </button> -->

        <!-- User Profile -->
        <div class="flex items-center gap-2 cursor-pointer group">
            <div class="relative">
                <button (click)="handleToggleMenu()" class="flex items-center space-x-2 focus:outline-none">
                    <img [src]="user().avatar" [title]="user().name"
                        class="w-10 h-10 rounded-full border-2 border-purple-500 hover:border-purple-600 transition" />
                </button>

                <!-- Dropdown Menu -->
                @if(isMenuOpen()){
                <div class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-50"
                    [class.hidden]="!isMenuOpen()">
                    <a href="/profile" class="menu-item">
                        <div class="flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-person" viewBox="0 0 16 16">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                            </svg>
                            <span>{{user().name}}</span>
                        </div>
                    </a>
                    <a href="javascript:void(0)" (click)="dialog.set(true)" class="menu-item">
                        <div class="flex items-center gap-2">
                            <i class="bi bi-key"></i>
                            <span>Change Password</span>
                        </div>
                    </a>
                    <a href="javascript:void(0)" (click)="handleLogout()" class="menu-item">
                        <div class="flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                                <path fill-rule="evenodd"
                                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                            </svg>

                            <span>Sign Out</span>
                        </div>
                    </a>
                </div>
                }
            </div>
        </div>
    </div>
</header>
<app-dialog [isOpen]="dialog" title="Change Password" [backdrop]="false" [buttons]="dialogButtons">
    <div class="bg-indigo-100 border border-indigo-300 rounded p-3 text-indigo-900 mb-5">
        <b>Password Requirements</b>
        <ul>
            <li>At least 1 uppercase letter</li>
            <li>At least 1 lowercase letter</li>
            <li>At least 1 digit</li>
            <li>At least 1 special character (e.g., !&#64;#$%^&*.)</li>
            <li>Minimum 8 characters</li>
        </ul>
    </div>
    <form [formGroup]="form">        
        <div class="space-y-2 mb-3">
            <div class="flex justify-between items-center">
                <label for="newPassword" class="text-base font-medium text-purple-900 uppercase tracking-wide">New
                    Password</label>
            </div>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                    <svg class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                    </svg>
                </div>
                <input id="newPassword" [type]="newPass() ? 'text': 'password'" formControlName="newPassword"
                    placeholder="New Password"
                    class="block text-base w-full pl-10 px-2 py-2 border border-gray-300 rounded text-gray-900 placeholder-gray-400 bg-white focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent transition-all"
                    [class.opacity-50]="loader()" />
                <button type="button" (click)="togglePassword('NEW')"
                    class="absolute inset-y-0 right-0 pr-3 text-gray-400 hover:text-gray-600">
                    @if(newPass()){
                    <i class="bi bi-eye"></i>
                    }
                    @else {
                    <i class="bi bi-eye-slash"></i>
                    }
                </button>
            </div>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'New Password is required',
                    control: form.controls['newPassword']
                  }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'pattern',
                    message: 'Invalid new password',
                    control: form.controls['newPassword']
                  }"></ng-container>
        </div>
        <div class="space-y-2 mb-3">
            <div class="flex justify-between items-center">
                <label for="confirmPassword"
                    class="text-base font-medium text-purple-900 uppercase tracking-wide">Confirm
                    Password</label>
            </div>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                    <svg class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                    </svg>
                </div>
                <input id="confirmPassword" [type]="confirmPass() ? 'text': 'password'"
                    formControlName="confirmPassword" placeholder="Confirm Password"
                    class="block text-base w-full pl-10 px-2 py-2 border border-gray-300 rounded text-gray-900 placeholder-gray-400 bg-white focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent transition-all"
                    [class.opacity-50]="loader()" />
                <button type="button" (click)="togglePassword('CONFIRM')"
                    class="absolute inset-y-0 right-0 pr-3 text-gray-400 hover:text-gray-600">
                    @if(confirmPass()){
                    <i class="bi bi-eye"></i>
                    }
                    @else {
                    <i class="bi bi-eye-slash"></i>
                    }
                </button>
            </div>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'required',
                    message: 'Confirm Password is required',
                    control: form.controls['confirmPassword']
                  }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                    validation: 'pattern',
                    message: 'Invalid confirm password',
                    control: form.controls['confirmPassword']
                  }"></ng-container>
        </div>

        @if(form.hasError('equal') && form.get('confirmPassword')?.touched){
        <div class="space-y-2">
            <span class="error">Passwords must match!</span>
        </div>
        }
    </form>
</app-dialog>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    @if(control.hasError(validation) && (control.dirty || control.touched)) {
    <ng-container>
        <div class="fv-plugins-message-container">
            <div class="fv-help-block mt-1">
                <span class="error">
                    {{ message }}
                </span>
            </div>
        </div>
    </ng-container>
    }
</ng-template>
<loader [isOpen]="loader"></loader>