<div class="flex flex-row gap-1">
    <input type="text" formControl="one" tabindex="0" #one id="one" class="input text-center" maxlength="1" minlength="1" (keyup)="onKeyUp($event)" autocomplete="off" />
    <input type="text" formControl="two" #twp id="two" class="input text-center" maxlength="1" minlength="1" (keyup)="onKeyUp($event)" autocomplete="off"/>
    <input type="text" formControl="three" #three id="three" class="input w-8 text-center" maxlength="1" minlength="1" (keyup)="onKeyUp($event)" autocomplete="off"/>
    <input type="text" formControl="four" #four id="four" class="input text-center" maxlength="1" minlength="1" (keyup)="onKeyUp($event)" autocomplete="off"/>
    <input type="text" formControl="five" #five id="five" class="input text-center" maxlength="1" minlength="1" (keyup)="onKeyUp($event)" autocomplete="off"/>
    <input type="text" formControl="six" #six id="six" class="input text-center" maxlength="1" minlength="1" (keyup)="onKeyUp($event)" (change)="onChange()" autocomplete="off"/>  
</div>
